#### For Q1 we need to find the score for each column to rank them. First i calculated Covariance Matrix which will decide the dependency of columns to each other then i calculated eigen value which will decide the impact of that feature i.e, higher the eigen value higher will be the importance of feature towards clustering  .For Dimensionality Reduction Principal Component Analysis would be another point of consideration<br>
Remark : Please let me know if I am proceeding toward wrong direction, My approach is based on my version of understanding of the problem statement where there might be some discrepancy

In [0]:
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [0]:
def score_col(data):
  X = data.values
  X_std = StandardScaler().fit_transform(X)
  cov_mat = np.cov(X_std.T)
  eig_vals, eig_vecs = np.linalg.eig(cov_mat)
  eig_col_pairs = [(np.abs(eig_vals[i]), data.columns[i]) for i in range(len(eig_vals))]
  eig_col_pairs.sort()
  eig_col_pairs.reverse()
  column_score={}
  for i in eig_col_pairs:
    column_score[i[1]]=i[0]
  return column_score

In [0]:
def cluster_result(N,P,S,K):
  # data= dataframe
  # N=no. of rows 
  # P= No. of columns
  # S= First S no. of small subset of colums which will be used for clustering
  # K= No. of clusters to be formed
  data = pd.DataFrame(np.random.randint(0,100,size=(N, P)))
  array = data.values
  X=array[:,:S]
  Kmean = KMeans(n_clusters=K)
  Kmean.fit(X)
  data["cluster_number"]=Kmean.labels_
  return data

In [0]:
data=cluster_result(1000,10,5,3)

In [0]:
score_dict=score_col(data.iloc[:,:-1])

In [145]:
data

      0   1   2   3   4   5   6   7   8   9  cluster_number
0    83  91  47  30  17   8   2  14  72  92               2
1     6  72  67  55  57  50  26  26  59  33               0
2    64  71   5  41  71  98  54  15  48  77               1
3    99  37  56  84  61   7  44  71  93  63               1
4     5   6  24  40  56  99  31  48  31  71               1
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..             ...
995  25  28   8  40   9  25  22  86  54  12               2
996   1  26  26  76  89  64  31  55  79  61               1
997   5  17  10  56  87  98  37  51  92  90               1
998  73  43  71  20  31  10  25  51  17  27               2
999  85  59   1  65  47  31  78  90  70  33               1

[1000 rows x 11 columns]

In [146]:
score_dict

{0: 1.176884728356753,
 1: 1.1247686152005818,
 2: 1.114960262160424,
 3: 1.0427612882251636,
 4: 0.8597635232155029,
 5: 0.9810908747692898,
 6: 0.8973971051477194,
 7: 0.949291336238266,
 8: 0.9246177413764968,
 9: 0.9384745353198073}

#### Approach for Q2 :
1. First we have to find wether the given column is a categorical column or not  :<br>
  For this my approach will be to calculate the ratio count of unique values to the total count and then compare with some threshold value(lets say 0.05) , if the ratio is less than threshould then it is most likely that the column is categorical . Or we can apply other checks like the column should contain string values.
2.  Second thing is how we will do one-hot encoding for large no of unique values containing categorical column : <br>
For this my approach will be to go through binning or grouping on the basis of target column.